<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMvcHello:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMvcHello_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMvcHello/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMvcHello" />
        </element>
      </element>
      <element id="directory" name="folder">
        <element id="dir-copy" path="C:/Software/tomcat/apache-tomcat-9.0.10/webapps" />
      </element>
    </root>
  </artifact>
</component>